---
// About CTA section
---

<div class="max-w-4xl mx-auto text-center">
  <h2
    class="text-5xl md:text-6xl font-header font-extrabold text-primary uppercase mb-14"
  >
    Rompé tu récord
  </h2>

  <a
    href="https://www.hardymarket.com.ar/"
    target="_blank"
    rel="noopener noreferrer"
    class="bg-primary hover:bg-primary-600 text-white px-8 py-4 rounded-full text-white uppercase font-semibold text-lg transition-all duration-300 hover:bg-primary-500"
  >
    Ir a la tienda Hardy
  </a>
</div>
