---
export interface Props {
  titleColor?: string;
  buttonBgColor?: string;
  buttonTextColor?: string;
}

const {
  titleColor = "text-black",
  buttonBgColor = "bg-black",
  buttonTextColor = "text-white",
} = Astro.props;
---

<div class="max-w-4xl mx-auto text-center scrolling-section opacity-0">
  <h2
    class={`text-5xl md:text-6xl font-header font-extrabold ${titleColor} uppercase mb-14`}
  >
    Rompé tu récord
  </h2>

  <a
    href="https://www.hardymarket.com.ar/"
    target="_blank"
    rel="noopener noreferrer"
    class={`${buttonBgColor} ${buttonTextColor} px-8 py-4 rounded-full uppercase font-semibold text-lg transition-all duration-300 hover:scale-105 hover:shadow-lg active:scale-95 inline-block`}
  >
    Ir a la tienda Hardy
  </a>
</div>
