---
import { Image } from "astro:assets";
import hardyLogo from "../assets/images/hardy-red.webp";
import Instagram from "../icons/Instagram.astro";
import Twitter from "../icons/Twitter.astro";
---

<footer class="bg-white border-t border-neutral-200">
  <div class="max-w-7xl mx-auto py-12 px-6 lg:px-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-8">
      <!-- Brand -->
      <div class="md:col-span-1">
        <div class="flex items-center space-x-2 mb-4">
          <Image src={hardyLogo} alt="HARDY" class="h-6 md:h-8 w-auto" />
        </div>
        <p class="text-primary font-header font-extrabold uppercase text-md">
          Alimentá tu instinto
        </p>
        <p class="text-neutral-700 text-sm pt-8">
          Crema de maní natural para atletas que buscan superarse día a día.
        </p>
      </div>

      <!-- Quick Links -->
      <div>
        <h3 class="font-semibold text-black mb-4">Navegación</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="/productos"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Productos</a
            >
          </li>
          <li>
            <a
              href="/recetas"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Recetas</a
            >
          </li>
          <li>
            <a
              href="/mayoristas"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Mayoristas</a
            >
          </li>
          <li>
            <a
              href="/nosotros"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Nosotros</a
            >
          </li>
        </ul>
      </div>

      <!-- Support -->
      <div>
        <h3 class="font-semibold text-black mb-4">Soporte</h3>
        <ul class="space-y-2">
          <li>
            <a
              href="/contactanos"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Contacto</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Preguntas frecuentes</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Información de envíos</a
            >
          </li>
          <li>
            <a
              href="#"
              class="text-neutral-700 hover:text-primary-600 transition-colors"
              >Devoluciones</a
            >
          </li>
        </ul>
      </div>

      <!-- Connect -->
      <div>
        <h3 class="font-semibold text- mb-4">Seguinos</h3>
        <div class="flex space-x-4">
          <!-- <a
            href="#"
            class="text-neutral-600 hover:text-primary-600 transition-colors"
          >
            <Twitter class="h-6 w-6" />
          </a> -->
          <a
            href="https://www.instagram.com/hardy.arg/"
            target="_blank"
            rel="noopener noreferrer"
            class="text-neutral-600 hover:text-primary-600 transition-colors"
          >
            <Instagram class="h-6 w-6" />
          </a>
        </div>
      </div>
    </div>

    <div
      class="mt-8 pt-8 border-t border-neutral-200 flex flex-col md:flex-row justify-between items-center"
    >
      <p class="text-neutral-700 text-sm">
        © 2025 HARDY. Todos los derechos reservados.
      </p>
      <div class="flex space-x-6 mt-4 md:mt-0">
        <a
          href="#"
          class="text-neutral-700 hover:text-neutral-900 text-sm transition-colors"
          >Política de Privacidad</a
        >
        <a
          href="#"
          class="text-neutral-700 hover:text-neutral-900 text-sm transition-colors"
          >Términos y Condiciones</a
        >
      </div>
    </div>
  </div>
</footer>
