---
import { Image } from "astro:assets";
import heroImage from "../assets/images/resources/08.webp";
---

<!-- Background -->
<div class="absolute inset-0 bg-primary"></div>
<!-- Diagonal Pattern Overlay -->
<div
  class="absolute inset-0 opacity-30"
  style="background-image: repeating-linear-gradient(45deg, transparent, transparent 20px, rgba(255,255,255,.1) 20px, rgba(255,255,255,.1) 40px);"
>
</div>
<!-- <div class="absolute inset-0 flex items-center justify-center">
  <Image
    src={heroImage}
    alt="Hero background"
    class="bg-auto object-cover opacity-50"
  />
</div> -->

<!-- Content -->
<div class="relative z-10 max-w-7xl mx-auto px-6 lg:px-8 text-center">
  <div class="space-y-8">
    <div class="space-y-4">
      <p
        class="text-xl md:text-2xl text-secondary uppercase tracking-widest font-header font-extrabold max-w-3xl mx-auto leading-relaxed"
      >
        Alimentá tu instinto
      </p>
      <h1
        class="text-5xl md:text-7xl font-header font-extrabold text-white uppercase leading-tight"
      >
        Go Hardy or Go Home
      </h1>
      <p
        class="text-xl md:text-2xl text-white/90 max-w-3xl mx-auto leading-relaxed"
      >
        Hardy es el impulso que te potencia. La energía natural que te ayuda a
        darlo todo y a escuchar la voz que te alienta a más.
      </p>
    </div>

    <div class="flex flex-col sm:flex-row gap-6 justify-center items-center">
      <a
        href="/products"
        class="bg-secondary hover:bg-secondary-300 px-8 py-4 rounded-full text-black font-semibold uppercase text-lg transition-all duration-300 hover:bg-accent-50"
      >
        Ver Productos
      </a>
      <a
        href="/about"
        class="bg-accent hover:bg-accent-700 text-neutral-900 px-8 py-4 rounded-full text-white uppercase font-semibold text-lg transition-all duration-300 hover:bg-accent-50"
      >
        Tienda Hardy
      </a>
    </div>
  </div>
</div>

<!-- Scroll indicator -->
<div
  class="absolute bottom-8 left-1/2 transform -translate-x-1/2 animate-bounce"
>
  <svg
    class="w-6 h-6 text-white"
    fill="none"
    stroke="currentColor"
    viewBox="0 0 24 24"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
  </svg>
</div>
